html, body {
  background: #EEE;
  font-family: 'Open Sans', sans-serif;
}

button {
  margin: 0.2em 1em;
  padding: 0.7em 2em;
  border: none;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.02em;
}

h1, h2 {
  margin: 0.4em;
  font-weight: normal;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.question {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0.7em 0;
  width: 40em;
  max-width: 100%;
  background: #333;
  color: #EEE;
}
